@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:wght@400;500;600;700;800&family=Roboto+Slab:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    
}


.nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 90px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}
.nav img{
    width: 86.041px;
    height: 40px;

}
.text-span-color {
    color: #FF42A5;
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 32px 130px;
}
.nav-items{
    display: flex;
    margin-left: 18rem; gap: 40px; align-items: center;
    padding: 32px 100px 32px 30px;
}
h6{
    
    color: #3C354F;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;

}
.follow-btn{
    width: 242px;
height: 50px;
flex-shrink: 0;
border: 0;
padding: 15px 10px;
color: #3C354F;
justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
.youtube{
    color: #F61C0D;
    
}
i{
    padding:0px 10px;
    cursor: pointer;
}

/* Nav-End */

/* Banner-start */
.banner{
    
    display: flex;
}
.banner-right{
    height: 500px;
    width: 450px;


}

.banner-right img{
    height: 500px; width: 455px; justify-content: center; align-items: center;
    margin-right: 1rem;
    
}
.banner-left{
/*   width: 50%;
     */
    width: 790px;
    height: 500px;
    margin-top: 0px; 
    background-image: url('../images/Group 14.png');
    background-position: calc(-180px);
    background-repeat: no-repeat;

}
.banner-left > .banner-con{
     text-align: center;
   justify-content: center;padding-top: 5rem; padding-bottom: 0; position: relative;
}
.ban-content{
    
    justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.para-div{
    font-size: 16px;
 color: #534C64; padding-left: 12.8rem;
}
.banner-title{
    color: #0B0223;
    padding-right: 11.5rem;
    
font-size: 25px;
font-weight: 600;
text-transform: uppercase;

}
.ban-title{
    display: flex; flex-direction: column;
}
.goat{
font-size: 50px; padding-right: 12rem;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 800;
text-transform: uppercase;
}
.button-div{
    display: flex; gap: 6px; margin-left: 12rem;
}
.one-btn{
    display: inline-flex;
padding: 15px 30px; border: 0;
align-items: flex-start; color: white; font-weight: 400;
gap: 10px; border-radius: 40px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.two-btn{
    display: inline-flex; font-weight: 400;
padding: 15px 30px; border: 0;
align-items: flex-start; color: white;
gap: 10px; border-radius: 40px;
background:#4EC5F7;;
}


/*  */
.banner-heading{
    justify-content: center;
    align-items: center;
}




/* online game start */
.online-title{
    color: #0B0223;
font-size: 38px;
font-style: normal; text-align: center;
font-weight: 700;
line-height: normal;
margin-top: 80px;
margin-bottom: 25px;
}
.online-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
}
.para{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 15px;
font-style: normal;margin-bottom: 25px;
font-weight: 400;
}



.img-para{
    width: 260px;
    color: #534C64;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 17px; 
} 

/* feature */
.features{
 margin-top: 100px;
 display: flex;
 gap: 10px;
 width: 100%;


}
.section-title{
    color: #0B0223;
font-size: 33px;
font-style: normal;
font-weight: 700;

}
.feature-para{
    color: #534C64;

font-family: Work Sans;
font-size: 15px;
font-weight: 400;
}



.head-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.feature-img{
    margin-left: 4rem;  
}
.feature-content{
    width: 420px;
    height: 250px;
    margin-top: 7rem;
    margin-left: 15rem;
    padding-left: 3rem;
    justify-content: center;
    
    align-items: center;
    
}


.ftr-img{
    width: 60%;
    margin-left: 12rem;
}
.position-img{
    width: 30%;
    position: relative;
    bottom: 200px;
    margin-left: 6.5rem;
}


/* new try */

.online-img-container{
    display: flex;
    gap: 27px;
    justify-content: center;
}
  .on-img{
    width: 260px;
height: 315px;
border-radius: 16px;
  
}

.online-img-3{
    width: 263px;
    height: 315px;
    
    
    position: relative;

}
.on-img-3{
    width: 262px;display: block;
}
.content{
    width: 261px;height: 310px; border-radius: 16px; top: 0; left: 0;position: absolute; background: rgba(0, 0, 0, 0.6);
    display: flex; justify-content: center; align-items: center; flex-direction: column; opacity: 0; transition: 0.6s;

}
.watch{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    text-align: center;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.content:hover{
    opacity: 1;
}
/* online end */



.normal-btn{
    border-radius: 50px;
    background: #FFF; display: flex; justify-content: center; align-items: center;
    width: 270px;
    height: 50px; border: 0; gap: 5px; padding: 10px;

}
.normal-btn > img{
    width: 50px;
    height: 50px;
}
.normal-btn > h4{
    color: #0B0223;
font-family: Work Sans;
font-size: 12px;
font-weight: 600;

}

.normal-hover-btn{
    border-radius: 50px;
    background: #FFF; display: flex; justify-content: center; align-items: center;
    width: 270px;
    height: 50px; border: white; gap: 5px; padding: 10px;

}
.normal-hover-btn:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; border: 1px solid #FF42A5; padding: 6px 5px; transition: 0.6s;
}

.normal-hover-btn > img{
    width: 50px;
    height: 50px;
}
.normal-hover-btn > h4{
    color: #0B0223;
font-family: Work Sans;
font-size: 12px;
font-weight: 600;

}

/* games-img */

.game-section{
    margin-top: 20px;
 background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); 

}
.game-part{
   
    display: flex;
    align-items: center;
    max-width: 1200px;
    
    margin: 0 auto; 
    flex-wrap: wrap;
    align-content: center;
    min-height: 400px;
    justify-content: center;
    gap:20px;

}
.game-content{
    border-radius:35px;
    display: flex;
    align-items: center;
   flex-basis:200px;
    padding: 5px;
    border: white;
    background: white;
}
.game-content p{
    margin-left:8px;
    font-size: 14px;
    color: rgb(31, 30, 30);
    font-weight: 500;
}

#hov-content:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; border: 1px solid #FF42A5; padding: 6px 5px; transition: 0.6s;


}






/* footer */
footer{
    width: auto;
height: 336px;
background: #0B0223;

}
.footer-title{
    display: flex;
    align-items: center;
    gap: 8px;color: white;
    justify-content: center;
    padding-top: 30px;

}
.play-btn{
    color: #fff;
    font-size: 25px;
}
.about{
    display: flex;
    color: white; font-size: 15px; font-weight: 600;
    gap: 30px; justify-content: center;align-items: center;
}
.social{
    font-size: 30px; gap: 7px; height: 30px; padding-top: 20px; text-align: center;
    justify-content: center; align-items: center; color: #fff;
}
.watch{
    font-weight: 800;
}
.terms{
    color: rgba(255, 255, 255, 0.60); display: flex; gap: 10px; padding-top: 15px;
text-align: center; font-size: 16px; justify-content: center;
}
.copy{
    color: rgba(255, 255, 255, 0.60);
text-align: center;font-size: 14px;
padding-top: 10px; font-weight: 500;
}





/* media query */
/* for mobile */
@media screen  and (min-width:768px) and (max-width:900px) {
    
/* navbar */
    .nav{
        flex-direction: column;  width: 200px;
        height: auto; 
        align-items: center;text-align: center; justify-content: center;
    }
    .nav-title img{
        width: 60px; height: 30px;
    }
    .nav-items{
        flex-direction: column; align-items: center; margin-left: 5.5rem;
        text-align: center; justify-content: center; 
    }
    .follow-btn{
        width: 150px;
        justify-content: center; padding: 5px; font-size: 8px;

    }
    /* navbar end */
    .banner{
        display: flex;
        flex-direction: column-reverse; width: 200px;
        
       
    }
    .banner-right img{
        width: 180px;
        height: 150px;padding: 5px; margin: 5px;
    }
    .banner-left{
        width: 200px; padding: 5px 0px 50px;  margin: 5px;
    }
    .banner-con{
     padding-top: 5px;
    }
    .banner-title{
      padding: 0;
        font-size: 15px;
        text-align: center; justify-content: center;

    }
    .goat{
        padding-right: 5px;
        font-size: 28px; 

    }
    .para-div{
        padding-left: 25px; font-size: 10px;

    }
    .button-div{
        margin-left: 1.3rem; gap: 10px;


    }
    .one-btn, .two-btn{
        padding: 5px;

    }
    
    .online-section{
width: 200px;justify-content: center; 
    }
    .online{
        width: 200px;
    }
    .online-title, .online-span{
        font-size: 20px;
    }
    .para{
        font-size: 10px; font-weight: 300;
    }
    .on-img, .on-img-3{
        width: 160px;
height: 215px;
border-radius: 12px; padding-left: 8px;

    }

    .img-para{
        width: 180px;
        font-size: 10px;
        font-weight: 300;

    }
    .content{
        width: 160px;height: 215px;

    }
    .online-img-container{
        flex-direction: column;

    }
    .features{
        flex-direction: column;  width: 200px;
        padding-top: 5px;
        
    }
    .feature-content{
        width: 190px;
    height: 250px;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 0px;
}
.section-title{

    font-size: 20px;
}
.feature-para{
    font-size: 10px; font-weight: 300;
}
/* .feature-img{
    margin-right: 10px;
} */
.ftr-img{
    width: 130px;
    margin:2px;
}
.position-img{
    width: 70px;
    position: relative;
    bottom: 62px;
    right: 140px;
}
    .button-section{
        width: 800px;
    }
   
    /* footer{
        width: auto;
        height: auto;
    }
    .footer-title{
        justify-content: flex-start; align-items: center; text-align: start;
        margin-left: 20px;
    }
    .about, .social, .terms{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 10px;
    }

    .social, .terms{
        padding-bottom: 20px;
    }
    .copy{
justify-content: flex-start; margin-left: 20px;
   } */

    footer{
width: 210px;height: auto;


   } 

   .footer-title img{
    width: 60px;height: 30px;

}

.about{
    display: grid; grid-template-columns: repeat(3,1fr);
    color: white; font-size: 9px; font-weight: 300;
    gap: 5px; justify-content: center;align-items: center; padding: 10px;
}
.social{
   padding: 5px; font-size: 8px; gap: 1px; height: 10px; padding-top: 5px; text-align: center;
    
}

.terms{
     gap: 2px; padding-top: 6px;
text-align: center; font-size: 6px; justify-content: center;
}
.copy{
    color: rgba(255, 255, 255, 0.60);
text-align: center;font-size: 8px;
padding: 4px; font-weight: 300;
}







.game-section{
    width: 280px; height: 250px; 
}
.game-section img{
    width: 22px;height: 22px; align-items: center;
}
   .game-content{
    border-radius: 20px; padding: 0px 2px;
   }
   .game-content p{
    font-size: 8px; font-weight: 300;
   }
.game-part{
    display: grid; gap: 7px; padding-bottom: 120px;
    grid-template-columns: repeat(3,80px); 

}


   
   
    
    
    
    
}